{% extends 'base.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-5">Reset Your Password</h1>
                {% if validlink %}
                    <p>Please enter your new password twice.</p>
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Change my Password</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
