{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-5">Edit Your Account</h1>
                <p>You can edit your account using the following form.</p>
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% for field in user_form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            {% for field in profile_form %}
                                {% if field.html_name == 'photo' %}
                                    <div class="custom-file mb-3">
                                        {{ field }}
                                        <label for="id_photo" class="custom-file-label">Photo</label>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
